<h2>{{ isEdit ? 'Edit Task' : 'New Task' }}</h2>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <label>
        Title:
        <input type="text" formControlName="title"/>
    </label>
    <br />

    <label>
        Description:
        <textarea formControlName="description"></textarea>
    </label>
    <br />

    <label>
        Due Date:
        <input type="date" formControlName="dueDate"/>
    </label>
    <br />

    <label>
        Category:
        <input type="text" formControlName="category" />
    </label>
    <br />

    <label>
        Status:
        <select formControlName="status">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
        </select>
    </label>
    <br /><br />

    <button type="submit" [disabled]="taskForm.invalid">
        {{ isEdit ? 'Update' : 'Create' }} Task
    </button>

    <button type="button" (click)="router.navigate(['/'])">Cancel</button>
</form>